<% include ./partials/header %>

<div class="container">
    <div class="row">
        <div class="col-md-9">
            <div class="thumbnail">
                <img class="img-responsive" src="<%= product.image %>">
                <div class="caption-full">
                    <h4 class="pull-right">$<%= product.price%></h4>
                    <h4><a><%= product.name%></a></h4>
                    <p><%= product.description %></p>
                </div>
            </div>
            </div>
        </div>
        <a class="btn btn-lg btn-warning" href="/products/<%= product._id %>/edit">Edit</a>
        <form id="delete-form" action="/products/<%= product._id %>?_method=DELETE" method="POST">
                <button class="btn btn-lg btn-danger">Delete</button>
        </form>
    </div>
</div>

<% include ./partials/footer %>